/* Styles pour la navigation horizontale */
nav {
    background-color: #333; /* Couleur de fond de la barre de navigation */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Afficher les éléments en ligne (horizontalement) */
}

nav li {
    text-align: center;
    padding: 15px;
    flex: 1; /* Les éléments occupent une part égale de l'espace disponible */
}

nav a {
    text-decoration: none;
    color: #fff; /* Couleur du texte des liens */
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555; /* Couleur de fond des liens au survol */
}

.projet {
    text-align: center;
    margin-bottom: 20px;
}

.projet-image {
    height: 200px;
    width: auto;
}

h1 {
    color: #3498db;
}

h2 {
    color: #2ecc71;
}

.img-limit {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}